.cart-wrapper{
    flex: 1;
 
}
.cart-wrapper .cart-remaining{
    margin: 0;
    color: #1C1B1B;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);
}
.cart-wrapper .course-list-container .cart-list-title{
    color: #1C1B1B;
    font-size: 23px;
    font-weight: 700;
}
.cart-wrapper .course-list-container .cart-list{
    padding: 0;
    list-style: none;
}
.cart-wrapper .course-list-container .cart-list li{
   color: rgba(28, 27, 27, 0.80);
   font-size: 17px;
   font-weight: 400;
   line-height: 40px;
}
.total-credit-hour{
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0;
    color: rgba(28, 27, 27, 0.80);
    border-top: 0.5px solid rgba(28, 27, 27, 0.20);
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);
}
.total-price{
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
    color: rgba(28, 27, 27, 0.80);
}







