.cart-wrapper{
    flex: 1;
  
}
.cart-container{
    padding: 24px 20px;
    border-radius: 12px;
    background: #ffffff;
}
.cart-wrapper .cart-container .cart-remaining{
    margin: 0;
    color: #2F80ED;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);
}
.cart-wrapper .cart-container .course-list-container .cart-list-title{
    color: #1C1B1B;
    font-size: 23px;
    font-weight: 700;
}
.cart-wrapper .cart-container .course-list-container .cart-list{
    padding: 0;
    list-style: none;
}
.cart-wrapper .cart-container .course-list-container .cart-list li{
   color: rgba(28, 27, 27, 0.80);
   font-size: 17px;
   font-weight: 400;
   line-height: 40px;
}
.cart-wrapper .cart-container .total-credit-hour{
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0;
    color: rgba(28, 27, 27, 0.80);
    border-top: 0.5px solid rgba(28, 27, 27, 0.20);
    border-bottom: 1px solid rgba(28, 27, 27, 0.20);
}
.cart-wrapper .cart-container .total-price{
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgba(28, 27, 27, 0.80);
}

@media screen and (max-width: 780px) {
    .cart-container{
        width: 88%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 430px) {
    .cart-container{
        width: 100%;

    }
    .cart-wrapper{
        margin-top: 25px;
        padding: 0 10px;
    }
}





