.courses-container{
    display: grid;
    width: 984px;
    gap: 24px;
    margin-bottom: 25px;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 780px) {
    .courses-container{
        display: grid;
        width: 672px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 312px);
    }
}

@media screen and (max-width: 430px) {
    .courses-container{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}













