
.header{
    width: 1330px;
    margin: 0 auto;
}
.header-wrapper{
    width: 984px;
}
.header .header-wrapper .course-logo{
    color: #1C1B1B;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 780px) {
    .header{
        width: 100%;
    }
    .header-wrapper{
        width: 100%;
    }
    .header .header-wrapper .course-logo{
        font-size: 25px;
    }
}

@media screen and (max-width: 425px) {
    .header{
        width: 100%;
        margin: 0 auto;
    }
    .header-wrapper{
        width: 100%;
    }
    .header .header-wrapper .course-logo{
        font-size: 22px;
    }
}






